body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container{
    width: 1000px;
    height: 550px;
    background-image: url(bgimg.png);        
    margin: 90px auto;
}

#calculator{
    width: 300px;
    height: 500px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 25px;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 5px rgba(0,0,0,0.19);

}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

.operator, .number, .empty{
    width: 45px;
    height: 45px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 14px;
}

.operator{
    background-color: #e0e0e0;
}

.number, .empty{
    background-color: #eaedef;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 12px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4), button:nth-child(8), button:nth-child(12), button:nth-child(16), button:nth-child(20){
    font-size: 20px;
}

button:nth-child(20){
    background-color: coral;
}